
@model Encontros.Models.Encontro
@{
    ViewBag.Title = Model.Local.Nome + "-" + Model.DataDoEncontro.ToString("dd/MM/yyyy");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.NomeEncontro</h2>
<ul>
    <li>Local: @Model.Local.Nome</li>
    <li>Data do encontro: @Model.DataDoEncontro.ToString("dd/MM/yyyy")</li>
</ul>
<p>
    @Html.ActionLink("Editar", "Edit", "Encontros", new { id = Model.Id } , new { @class = "btn btn-primary" })
</p>